#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

/* progress bar */
.progress {
  margin: 1rem;
  width: 70%;
  height: 1rem;
  background-color: #f4f4f4;
  border-radius: 0.5rem;
  overflow: hidden;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #1400f0;
}

/* loading spinner */
.spinner {
  border: 0.5rem solid #f3f3f3;
  border-top: 0.5rem solid #3498db;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input {
  width: 90%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 0.5rem;
  cursor: pointer;
  width: 90%;
  margin-top: 1rem;
}

.input-label {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  margin: 0 0.5rem;
}
